body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    background-image: url('https://wallpaper.forfun.com/fetch/4a/4a63e3d12400a116fc164f891b18063e.jpeg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem no fundo */
}

header {
    background-color: #ff6464;
    color: #000000;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #47eaff;
}

main {
    padding: 80px 20px 20px;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.icon {
    width: 20px; /* Ajusta o tamanho do ícone */
    height: 20px; /* Ajusta o tamanho do ícone */
    vertical-align: middle; /* Alinha o ícone ao meio do texto */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}
